@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}


body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes slideUpFadeIn {
  0% {
    transform: translateY(20px); /* Bắt đầu từ dưới lên 20px */
    opacity: 0; /* Ban đầu trong suốt */
  }
  100% {
    transform: translateY(0); /* Đến vị trí cuối cùng */
    opacity: 1; /* Hiện rõ hoàn toàn */
  }
}

.animate-slide-up-fade-in {
  animation: slideUpFadeIn 0.5s ease-out forwards; /* Thời gian, kiểu easing và giữ trạng thái cuối */
}